.Page{
   padding: 10px;
   cursor: pointer;
   color: rgb(113, 113, 241);
   transition: transform 100ms;
   z-index: 0;
}

.Page:hover{
   transform: scale(1.3);
   transition: transform 70ms ;
   z-index: 1;
}

.BoldPage {
   padding: 10px;
   cursor: pointer;
   color: black;
   transition: transform 100ms;
   z-index: 0;
}